<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tính diện tích và chu vi</title>
</head>
<body>
<h2>Tính diện tích và chu vi hình chữ nhật</h2>

<form action="/rectangle/calc" method="post">
    Chiều dài: <input type="number" name="length" required><br><br>
    Chiều rộng: <input type="number" name="width" required><br><br>
    <button type="submit">Tính</button>
</form>


<div th:if="${error != null}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<hr>
<div th:if="${area != null}">
    <p>✅ Diện tích: <span th:text="${area}"></span></p>
    <p>✅ Chu vi: <span th:text="${perimeter}"></span></p>
</div>

</body>
</html>
